body{
	font:100%;
	width:100%;
}
img, object{		/*to make fluid images ie. images shrink with the smaller browser size */
	max-width:100%;	
}
#heading img{
	
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
}
#navbar ul{
	background-color:black;
	opacity:0.8;
	position:absolute;
	right:0px;
	left:0px;
	top:40.5%;
	color:white;
	list-style-type:none;
	padding:0.6% 0% 0.6% 0%;
	text-align:center;

}
#navbar li{
	display:inline;
	padding:0% 4.6% 0% 0%;
	font-size:1.5625em;
}
#navbar li a{
	color:white;
	text-decoration:none;
	padding:0.8% 0.8% 0% 0.8%;
	
}
#navbar li a:hover{
	background-color:#666666;
	margin:0px;
	padding:0.6% 0.8% 0.6% 0.8%;
}
#navbar li a:active{
	background-color:#333333;
	margin:0px;
	padding:0.6% 0.8% 0.6% 0.8%;
}
.info p{
	
	text-align:justify;
	
}
.info{
	position:absolute;
	top:53%;
	left:26%;
	width:45%;
	padding:1% 2% 0 2%;
	font-size:1.1875em;
	border-bottom:10px solid black;
	border-left:10px solid black;
	border-right:10px solid #fe773f;
	border-top:10px solid #fe773f;
	
}
.info ul{
	list-style-type:square;
}
.info h3{
	text-align:center;
	text-decoration:underline;
}
#navbar1 ul{
	position:absolute;
	top:49.5%;
	list-style-type:none;
	background-color:black;
	opacity:0.95;
	left:0%;
	width:25%;
	margin:0px;
	padding:0px;
	height:93.8%;	/* the height and the overflow property is used to create a scroll bar on only*/overflow-y:scroll; 	/*the list of yoga postures also. overflow-y to create scroll bar only on*/
						/*the y axis and no horizontally if the width field was not set*/
}
#navbar1 li{
	border-bottom:1px solid #666666;
	display:block;
	padding:2% 5% 2% 5%;
	width:100%;
	padding:0px;
}
#navbar1 li a{
    color:white;
	text-decoration:none;
	font-size:1.25em;
	padding:1.8% 2.5% 1.8% 2.5%;
	display:block;
	margin:0px;
	text-align:center;
}
#navbar1 li a:hover{
	background-color:#666666;
	margin:0px;
}
#navbar1 ul{
	height:93%;
	overflow:scroll;
}
span{
	font-style:italic;
}
